<p>Products</p>
<div style="background-color: antiquewhite; padding: 1rem; margin-bottom: 0.5rem; border-radius: 5%;" *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details'"
           [routerLink]="['/products', product.id]"
        >
            {{ product.name }}
        </a>
    </h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts
        [product]="product"
        (notify)="onNotify($event)"
    >
    </app-product-alerts>
</div>
